*{
	margin: 0;
	padding: 0;
	font-size:16px;
}

#header{
	font-family: Helvetica;
	min-width:1260px;
	background-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	float:left;
	border: #000;
	background-color:#F5F5F5;
	position:relative;
	padding: 0px;
}
ul{
	list-style:none;
}
#icono{
	float:left;
}
#menu >li{
	float:left;
}
#menu li>a{
	background-color:#F5F5F5;
	color:#000;
	text-decoration:none;
	padding:32px 15px;
	display:block;
}
#menu li>a:hover{
	background-color:#D0CDCF;
}
#menu li>ul{
	display:none;
	position:absolute;
	min-width:140px;
	z-index:1;
}
#menu li:hover > ul{
	display:block;

}
select{
	width:18.5em;
	height:27.5px;
}
h1{
	position:relative;
	top:30px;
	font-size:26px;
	width:50%;
	font-family: Arial, Helvetica, sans-serif;
}

form {
	width: 870px;
	height: 380px;
    padding: 5px;
    margin-left: 220px;
	line-height: 100%;
	/*display:block;*/
	position:relative;
	top:3px;
	font-size:26px;
	font-family: Arial, Helvetica, sans-serif;
}

form fieldset {
	float: left;
	width: 45%;
	border:none;
	padding: 18px;
	position:relative;
	left:10px;
}

form fieldset p>input{
	float: left;
	text-align:center;
	width:20em;
	height:26px;

}
button{
	border-radius: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	border: none;
	padding: 16px 56px;
	position:center;
	top:-50px;
	right:100px;
	align-items: center;
	background-color:#008CFF;
	font-size: 14.5px;
}

label span{
    text-emphasis-color: blue;
    text-decoration-line: underline;
    color: blue;
    font-size: 13.5px;
}

#entrada{
    border:none;
    background: none;
    text-emphasis-color: blue;
    text-decoration-line: underline;
    color: blue;
    padding: 13px 18px;
    text-align: center;
	top:1px;
	left:1px;
}
#form2{
	width: 870px;
	height: 80px;
    padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
	display:block;
	position:relative;
	top:0px;
	border-color: #000;
	border: #000;
	font-size:26px;

}