*{
	margin: 0;
	padding: 0;
	font-size:16px;
}

#header{
	font-family: Helvetica;
	width:100%;
	background-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	float:left;
	border: #000;
	background-color:#F5F5F5;
	position:relative;
	padding: 0px;
}
ul{
	list-style:none;
}
#icono{
	float:left;
}
#menu >li{
	float:left;
}
#menu li>a{
	background-color:#F5F5F5;
	color:#000;
	text-decoration:none;
	padding:32px 15px;
	display:block;
}
#menu li>a:hover{
	background-color:#D0CDCF;
}
#menu li>ul{
	display:none;
	position:absolute;
	min-width:140px;
	z-index:1;
}
#menu li:hover > ul{
	display:block;

}
select{
	width:12.5em;
	height:29px;
}
h1{
	position:relative;
	top:30px;
	left:20%;
	font-size:26px;
	width:50%;
	font-family: Arial, Helvetica, sans-serif;
}

form {
	width: 870px;
	height: 400px;
    padding: 5px;
	margin-left: 220px;
	line-height: 100%;
	text-align:center;
	font-size:26px;
	position: absolute;
	top:200px;
	font-family: Arial, Helvetica, sans-serif;
}

img{
	position: relative;
	left:10px; 
	top:8px;
}

button{
	border-radius: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	border: none;
	align-items: center;
	padding: 16px 56px;
	position:center;
	top:50px;
	right:100px;
	background-color:#008CFF;
	font-size: 14.5px;
}

.change{
	height: 25px;
	width: 240px;
	text-align: center;
}