*{
	margin: 0;
	padding: 0;
	font-size:16px;
}


#header{
	font-family: Helvetica;
	min-width:1260px;
	background-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	float:left;
	border: #000;
	background-color:#F5F5F5;
	position:relative;
	padding: 0px;
}
ul{
	list-style:none;
}
#icono{
	float:left;
}
#menu >li{
	float:left;
}
#menu li>a{
	background-color:#F5F5F5;
	color:#000;
	text-decoration:none;
	padding:32px 15px;
	display:block;
}
#menu li>a:hover{
	background-color:#D0CDCF;
}
#menu li>ul{
	display:none;
	position:absolute;
	min-width:140px;
	z-index:1;
}
#menu li:hover > ul{
	display:block;

}
select{
	width:12.5em;
	height:29px;
}
h1{
	position:relative;
	top:30px;
	left:130px;
	font-size:26px;
	width:50%;
	font-family: Arial, Helvetica, sans-serif;
}

form {
	width: 870px;
	height: 380px;
    padding: 5px;
    margin: auto;
	line-height: 100%;
	/*display:block;*/
	position:relative;
	top:50px;
	font-size:26px;
	font-family: Arial, Helvetica, sans-serif;
}

form fieldset {
	float: left;
	width: 45%;
	border:none;
	padding: 18px;
	position:relative;
	left:10px;
}

form fieldset p>input{
	float: left;
	text-align:center;
	width:20em;
	height:26px;

}
button{
	border-radius: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	border: none;
	padding: 16px 56px;
	position:center;
	top:-50px;
	right:100px;
	align-items: center;
	background-color:#008CFF;
	font-size: 14.5px;
}