h1 {
    text-align: center;
    font-family: serif;
    text-align: center;
    color: #377ba8;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
.group{
    font-size: 20px;
}
div {
    line-height: 400%;
  }


form {
    text-align: center;
    width: 360px;
    height: 450px;
    padding: 16px;
    border-radius: 5px;
    margin: auto;
    border: black;
    border-color: black;
    border-style:solid;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    
}
label span{
    text-emphasis-color: blue;
    text-decoration-line: underline;
    color: blue;
    font-size: 13.5px;
}

form input {
    text-align: center;
    padding: 3px 10px;
    border: 1px solid #110f0f;
    border-radius: 3px;
    margin: 8px 10px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}

button{
	border-radius: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
    text-align: left;
	border: none;
	padding: 13px 66px;
	position:relative;
	top:10px;
	right:0px;
	background-color:#008CFF;
    font-size: 14.5px;
}
