<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div>
    <label for="resultadobp" id="resultadobp">Resultados</label>
    <input type="image" id="ic" src="static/images/descarga.png"/>
</div>
<div>
{% if objects %}
    <table id="tablebprod" class="display" >
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{header}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for object in objects %} 
                <tr>
                    {% for k, val in object.items() %}
                        <td>{{val}}</td>
                    {% endfor %}
                        </tr>
            {% endfor %}  

        </tbody>
    </table>
{% endif %}
</div>
</body>
</html> 
 