<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<script src="{{ url_for('static', filename='js/SESION6.js') }}"></script>
	<link {% block css %}{% endblock %} />
    <title>{% block title %}{% endblock %} </title>
</head>
<body>
    <div id="header">
		<div id="icono">
			<img src= "{{ url_for('static', filename='images/icono.png') }}" width= "80px"/>
		</div>
	<div>
			<ul id ="menu">
				<li><a href="">Productos</a>
					<ul>
					{% if session == "Administrador" or session == "Superadministrador" %}
					  <li><a href="{{url_for('createproduct')}}">Crear Productos</a></li>
					  <li><a href="{{url_for('editareliminarproducto')}}">Editar/Eliminar Productos</a></li>
					  {% endif %}
					  <li> <a href="{{url_for('buscarProducto')}}">Buscar Producto</a> </li>
					</ul>
				</li>
				<li><a href="">Proveedores</a>
					<ul>
					{% if session == "Superadministrador" %}
					  <li id="oo"><a href="{{url_for('createprovider')}}">Crear Proveedores</a></li>
					  <li><a href="{{url_for('editareliminarproveedor')}}">Editar/Eliminar Proveedores</a></li>
					  {% endif %}	
					  <li><a href="{{url_for('buscarProvider')}}">Buscar Proveedores</a></li>
					</ul>
				</li>
				{% if session == "Administrador" or session == "Superadministrador" %}
				<li><a href="">Usuarios</a>
					<ul>	
					{% if session == "Superadministrador" %}
					  <li><a href="{{url_for('createuser')}}">Crear Usuario</a></li>
					  <li><a href="{{url_for('editareliminarusuario')}}">Editar/Eliminar Usuario</a></li>	
					  {% endif %} 
					  <li><a href="{{url_for('buscarusuario')}}">Buscar Usuario</a></li>
					 
					</ul>
				</li>
				{% endif %}
			
				<li style="float:right;"> <a id="namecontac" href="">{{usuario}}</a>
					<ul>
					  <li><a href="{{url_for('changepass')}}">Cambiar Contraseña</a></li>
					  <li><a href="{{url_for('logout')}}">Salir</a></li>
					</ul>
				</li>
			</ul>
		</div>
    </div>
	<br/>
	<br/>
	<br/>
	<p></p>
    <div>
    {% block content %}{% endblock %}
    </body>
    </html>    