
    <div>
    <label for="resultadobp" id="resultadobp2">Productos asociados:</label>
        <input type="image" id="ic" src="static/images/descarga.png"/>
    </div>
    <div>
<table id="tablebprod" action="{{ url_for('PaginaProveedor') }}">
            <thead>
                <tr>
            
                    <th>Producto</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Cantidad</th>
                    <th>Marca</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                
                    <td>PD34483</td>
                    <td>Producto 1</td>
                    <td>ACTIVO</td>
                    <td>140</td>
                    <td>Marca 1</td>
                  

                </tr>
                <tr>
                
                    <td>PD34283</td>
                    <td>Producto 2</td>
                    <td>ACTIVO</td>
                    <td>130</td>
                    <td>Marca 2</td>
                 

                </tr>
                <tr>
              
                    <td>PD34400</td>
                    <td>Producto 3</td>
                    <td>INACTIVO</td>
                    <td>230</td>
                    <td>Marca 3</td>
                   

                </tr>
            </tbody>
        </table>
</div>

