<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link {% block css %}{% endblock %} />
    <title>{% block title %}{% endblock %} </title>
</head>
<body>
    <div>
  	<h1 id="bp">Buscar Proveedor: </h1>
	    <button type="submit" value="BuscarProve" id="bottonBp"> Buscar </button>
        <button type="submit" value="limpiarProve" id="bottonlp"> Limpiar Filtro </button>
    </div>

	<form name="formBProvider" >
		<fieldset>
            <p>
				<label for="city">Ciudad:</label>
				<input type="text" name="city" id="city"/>
			</p>
            <br/>
			<br/>
			<p>
				<label for="nameprov">Nombre proveedor:</label>
				<input type="text" name="nameprov" id="nameprov"/>
			</p>
            <br/>
			<br/>
            <p>
				<label for="line">Línea:</label>
				<select name="line" ID="selecbp">
                    <option value="">[Seleccionar]</option>
					<option value="">Baterías</option>
					<option value="">Latoneria</option>
                    <option value="">Llantas</option>
                    <option value="">Vidrio</option>
				</select>
			</p>
		</fieldset>
		<fieldset>
			<p>
				<label for="codprovider">Código Proveedor:</label>
				<input type="text" name="codprovider" id="codprovider"/>
			</p>
            <br/>
			<br/>
			<p>
				<label for="state">Estado:</label>
					<select name="state" ID="selecbp">
                        <option value="">[Seleccionar]</option>
					<option value="">Activo</option>
					<option value="">Inactivo</option>
				</select>
			</p>
		</fieldset>
</form>
     <br/>
    <br/>
    <div>
    <label for="resultadobp" id="resultadobp">Resultados</label>
        <input type="image" id="ic" src="static/images/descarga.png"/>
    </div>
    <div>
<table id="tablebprod">
            <thead>
                <tr>
                    <th>Proveedor</th>
                    <th>Nombre</th>
                    <th>Producto</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Inventario</th>
                    <th>Mínimo</th>
                    <th>Marca</th>
                    <th>Precio</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <li><a href="PaginaProveedor">OAK3030</a></li></td>
                    <td>Prod 1</td>
                    <td>PV34483</td>
                    <td>Proveedor 1</td>
                    <td>ACTIVO</td>
                    <td>400</td>
                    <td>40</td>
                    <td>Marca 1</td>
                    <td>$55.600</td>

                </tr>
                <tr>
                    <td> <li><a href="PaginaProveedor">MAK3030</a></li></td>
                    <td>Prod 2</td>
                    <td>PV34283</td>
                    <td>Proveedor 2</td>
                    <td>ACTIVO</td>
                    <td>500</td>
                    <td>30</td>
                    <td>Marca 2</td>
                    <td>$85.600</td>

                </tr>
                <tr>
                    <td> <li><a href="PaginaProveedor">TL93030</a></li></td>
                    <td>Prod 3</td>
                    <td>PV34400</td>
                    <td>Proveedor 3</td>
                    <td>INACTIVO</td>
                    <td>200</td>
                    <td>23</td>
                    <td>Marca 3</td>
                    <td>$46.000</td>

                </tr>
            </tbody>
        </table>
</div>
</body>
</html>  
