<div>
    <label for="resultadobp" id="resultadobp">Resultados</label>
    <input type="image" id="ic" src="static/images/descarga.png"/>
</div>
<div>

<table id="tablebprod">
    <thead>
                <tr>
                    <th>Proveedor</th>
                    <th>Nombre</th>
                    <th>Producto</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Inventario</th>
                    <th>Mínimo</th>
                    <th>Marca</th>
                    <th>Precio</th>

                </tr>
    </thead>
            <tbody>
                <tr>
                    <td> <li><a href="PaginaProveedor">OAK3030</a></li></td>
                    <td>Prod 1</td>
                    <td>PV34483</td>
                    <td>Proveedor 1</td>
                    <td>ACTIVO</td>
                    <td>400</td>
                    <td>40</td>
                    <td>Marca 1</td>
                    <td>$55.600</td>

                </tr>
                <tr>
                    <td> <li><a href="PaginaProveedor">MAK3030</a></li></td>
                    <td>Prod 2</td>
                    <td>PV34283</td>
                    <td>Proveedor 2</td>
                    <td>ACTIVO</td>
                    <td>500</td>
                    <td>30</td>
                    <td>Marca 2</td>
                    <td>$85.600</td>

                </tr>
                <tr>
                    <td> <li><a href="PaginaProveedor">TL93030</a></li></td>
                    <td>Prod 3</td>
                    <td>PV34400</td>
                    <td>Proveedor 3</td>
                    <td>INACTIVO</td>
                    <td>200</td>
                    <td>23</td>
                    <td>Marca 3</td>
                    <td>$46.000</td>

                </tr>
            </tbody>
</table>

