
<div>
    <label for="resultadobp" id="resultadobp2">Proveedores asociados:</label>
        <input type="image" id="ic" src="static/images/descarga.png"/>
    </div>
<div>
<table id="tablebprod" action="{{ url_for('PaginaProveedor') }}">
            <thead>
                <tr>
            
                    <th>Proveedor</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Ciudad</th>
                    <th>Cantidad</th>
                    <th>Marca</th>
                    <th>Correo</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                
                    <td>PV34483</td>
                    <td>Proveedor 1</td>
                    <td>ACTIVO</td>
                    <td>Barranquilla</td>
                    <td>140</td>
                    <td>Marca 1</td>
                    <td>prov1@gmail.com</td>

                </tr>
                <tr>
                
                    <td>PV34283</td>
                    <td>Proveedor 2</td>
                    <td>ACTIVO</td>
                    <td>Bogota DC</td>
                    <td>130</td>
                    <td>Marca 2</td>
                    <td>prov2@gmail.com</td>

                </tr>
                <tr>
              
                    <td>PV34400</td>
                    <td>Proveedor 3</td>
                    <td>INACTIVO</td>
                    <td>Cartagena</td>
                    <td>230</td>
                    <td>Marca 3</td>
                    <td>prov2@gmail.com</td>

                </tr>
            </tbody>
        </table>
</div>
