<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProd.css') }}" />
    <title>Producto</title>
</head>
<body>
    <div id="header">
		<div id="icono">
			<img src= "{{ url_for('static', filename='images/icono.png') }}" width= "100px"/>
		</div>
	<div>
			<ul id ="menu">
				<li><a href="">Productos</a>
					<ul>
					  <li><a href="createproduct">Crear Productos</a></li>
					  <li><a href="editareliminarproducto">Editar/Eliminar Productos</a></li>
                        <li> <a href="buscarProducto">Buscar Producto</a> </li>
					</ul>
				</li>
				<li><a href="">Proveedores</a>
					<ul>
					  <li><a href="createprovider">Crear Proveedores</a></li>
					  <li><a href="">Editar/Eliminar Proveedores</a></li>
                        <li><a href="buscarProvider">Buscar Proveedores</a></li>
					</ul>
				</li>
				<li><a href="">Usuarios</a>
					<ul>
					  <li><a href="createuser">Crear Usuario</a></li>
					  <li><a href="">Editar/Eliminar Usuario</a></li>
					</ul>
				</li>
				<li style="float:right;"><a href="">Contacto</a>
					<ul>
					  <li><a href="">Cambiar Contraseña</a></li>
					  <li><a href="">Salir</a></li>
					</ul>
				</li>
			</ul>
		</div>
    </div>
	<br/>
	<br/>
	<p></p>
    <div>
  	<h1 id="bp">Buscar Producto: </h1>
	    <button type="submit" value="BuscarProd" > Buscar </button>
        <button type="submit" value="limpiarProd" > Limpiar Filtro </button>
    </div>

	<form name="formBProduct" >
		<fieldset>
            <p>
				<label for="brand">Marca*</label>
				<input type="text" name="brand" id="brand"/>
			</p>
            <br/>
			<br/>
			<p>
				<label for="codproduct">Código Producto*</label>
				<input type="text" name="codproduct" id="codproduct"/>
			</p>
            <br/>
			<br/>
            <p>
				<label for="amountmin">Cantidad Minima*</label>
				<input type="text" name="amountmin" id="amountmin"/>
			</p>





		</fieldset>
		<fieldset>
			<p>
				<label for="nameproduct">Nombre Producto*</label>
				<input type="text" name="nameproduct" id="nameproduct"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="codprovider">Código Proveedor*</label>
				<input type="text" name="codprovider" id="codprovider"/>
			</p>
            <br/>
			<br/>
			<p>
				<label for="state">Estado*</label>
				<input type="text" name="state" id="state"/>
			</p>
		</fieldset>

    </form>

</body>
</html>