{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProdbuscar.css') }}" {% endblock %}
{% block title %} Buscar usuario {% endblock %}
{% block content %}
    <br/>	
    <br/>
    <section class="content">
		{% for message in get_flashed_messages() %}
		<div class="flash"> {{ message }} </div>
		{% endfor %}
	</section>
    <form id="form2" method="post" action="{{ url_for('buscarProductoUsuarioFinal') }}">	
        <div method="post" action="{{ url_for('createprovider') }}">
        <h1 id="bp">Buscar Usuario: </h1>
            <button type="submit" value="BuscarProd" id="bottonBp" action="createuser"  > Buscar </button>
            <button type="submit" value="limpiarProd" id="bottonlp"> Limpiar Filtro </button>
        </div>
        <fieldset>
            <p>
				<label for="Código">Código usuario:</label>
				<input type="text" name="Código" id="Código"/>
			</p>
            <br/>
			<br/>
			<p>
				<label for="Nombre">Nombre usuario:</label>
				<input type="text" name="Nombre" id="nameprov"/>
			</p>
            <br/>
			<br/>
            <p>
				<label for="Rol">Rol:</label>
				<select name="Rol" id="rol">
                    <option value="">[Seleccionar]</option>
					<option value="">Usuario Final</option>
					<option value="">Administrador</option>
                    <option value="">Superadministrador</option>
				</select>
			</p>
		</fieldset>
		<fieldset>
			<p>
				<label for="codprovider">Apellido usuario:</label>
				<input type="text" name="codprovider" id="codprovider"/>
			</p>
            <br/>
			<br/>
			<p>
				<label for="coduser">Email:</label>
				<input type="text" name="coduser" id="coduser"/>
				</select>
			</p>
		</fieldset>

    </form>

    <div>
    <label for="resultadobp" id="resultadobp">Resultados</label>
        <input type="image" id="ic" src="static/images/descarga.png"/>
    </div>
    <div>
<table id="tablebprod">
            <thead>
                <tr>
                    <th>Código usuario</th>
                    <th>Nombre usuario</th>
                    <th>Apellido usuario</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Rol</th>
                    

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>USNC72</td>
                    <td>Maréa Angélica</td>
                    <td>Cardona</td>
                    <td>3002938293</td>
                    <td>mariaac@gmail.com</td>
                    <td>Usuario Final</td>

                </tr>
                <tr>
                    <td>ASE321</td>
                    <td>Paola Sofia</td>
                    <td>Pérez</th>
                    <td>3219873456</td>
                    <td>paolas@gmail.com</td>
                    <td>Usuario Final</td>

                </tr>
                <tr>
                    <td>USJ34N2</td>
                    <td>Andrés Camilo</td>
                    <td>Nieto</td>
                    <td>3219872634</td>
                    <td>nietoa@gmail.com</td>
                    <td>Usuario Final</td>

                </tr>
            </tbody>
        </table>
</div>
{% endblock %}