{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProdbuscar.css') }}" {% endblock %}
{% block title %} Buscar proveedor {% endblock %}
{% block content %}
  <br/>	
  <br/>
  <form id="form2" method="post" action="{{ url_for('buscarProvider') }}">	
    <div>
      <h1 id="bp">Buscar Proveedor: </h1>
        <button type="submit" value="BuscarProd" id="bottonBp" action="buscarProvider"  > Buscar </button>
        <button type="submit" value="limpiarProd" id="bottonlp"> Limpiar Filtro </button>
    </div>
      <fieldset>
        <p>
          <label for="nombrep ">Nombre:</label>
          <input type="text" name="nombrep " id="nombrep "/>
        </p>
        <br/>
        <br/>
        <p>
          <label for="codprovee">Código Proveedor:</label>
          <input type="text" name="codprovee" id="codprovee"/>
        </p>
        <br/>
        <br/>
        <p>
          <label for="ciudad">Ciudad:</label>
          <input type="text" name="ciudad" id="ciudad"/>
        </p>
      </fieldset>
      <fieldset>
        <p>
          <label for="linea">Linea Producto:</label>
          <input type="text" name="linea" id="linea"/>
        </p>
        <br/>
        <br/>
        <p>
          <label for="state">Estado:</label>
            <select name="state" ID="selecbp">
              <option value="">[Seleccionar]</option>
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
          </select>
        </p>
      </fieldset>
  </form>
  <div>
		<label for="resultadobp" id="resultadobp">Resultados</label>
		<input type="image" id="ic" src="static/images/descarga.png"/>
	</div>
	<div>
	{% if objects %}
		<table id="tablebprod" class="display" >
			<thead>
				<tr>
					{% for header in headers %}
					<th>{{header}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for object in objects %} 
					<tr>
						{% for k, val in object.items() %}
							{% if k=='nombre' %}
								<td> <li><a href="PaginaProveedor">{{val}}</a></li></td>
							{% else%}
								<td>{{val}}</td>
							{% endif%}
						{% endfor %}
							</tr>
				{% endfor %}  
	
			</tbody>
		</table>
	{% endif %}
	</div>
	
{% endblock %}
