{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProdbuscar.css') }}" {% endblock %}
{% block title %} Buscar proveedor {% endblock %}
{% block content %}
  <br/>	
  <br/>
  <form id="form2" method="post" action="{{ url_for('buscarProductoUsuarioFinal') }}">	
      <div method="post" action="{{ url_for('createprovider') }}">
        <h1 id="bp">Buscar Proveedor: </h1>
          <button type="submit" value="BuscarProd" id="bottonBp" action="createuser"  > Buscar </button>
          <button type="submit" value="limpiarProd" id="bottonlp"> Limpiar Filtro </button>
      </div>
      <fieldset>
        <p>
          <label for="brand">Marca:</label>
          <input type="text" name="brand" id="brand"/>
        </p>
        <br/>
        <br/>
        <p>
          <label for="codproduct">Código Producto:</label>
          <input type="text" name="codproduct" id="codproduct"/>
        </p>
        <br/>
        <br/>
        <p>
          <label for="amountmin">Cantidad Minima:</label>
          <select name="amountmin" ID="selecbp">
            <option value="">[Seleccionar]</option>
            <option value="SI">SI</option>
            <option value="NO">NO</option>
          </select>
        </p>
      </fieldset>
      <fieldset>
        <p>
          <label for="nameproduct">Nombre Producto:</label>
          <input type="text" name="nameproduct" id="nameproduct"/>
        </p>
        <br/>
        <br/>
        <p>
          <label for="codprovider">Código Proveedor:</label>
          <input type="text" name="codprovider" id="codprovider"/>
        </p>
        <br/>
        <br/>
        <p>
          <label for="state">Estado:</label>
            <select name="state" ID="selecbp">
              <option value="">[Seleccionar]</option>
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
          </select>
        </p>
      </fieldset>
  </form>
  {% include "base_buscarProvider.html" %}
{% endblock %}
