{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProdbuscar.css') }}" {% endblock %}
{% block title %} Buscar producto {% endblock %}
{% block content %}
	<br/>	
	<br/>
	<section class="content">
		{% for message in get_flashed_messages() %}
		<div class="flash"> {{ message }} </div>
		{% endfor %}
	</section>

	<form id="form2" method="post" action="{{ url_for('buscarProducto') }}">	
			<div>
				<h1 id="bp">Buscar Producto: </h1>
					<button type="submit" value="BuscarProd" id="bottonBp" action="buscarProducto"  > Buscar </button>
					<button type="submit" value="limpiarProd" id="bottonlp"> Limpiar Filtro </button>
			</div>
	
				<fieldset>
					<p>
						<label for="brand">Marca:</label>
						<input type="text" name="brand" id="brand"/>
					</p>
					<br/>
					<br/>
					<p>
						<label for="codproduct">Código Producto:</label>
						<input type="text" name="codproduct" id="codproduct"/>
					</p>
					<br/>
					<br/>
					<p>
						<label for="amountmin">Cantidad Minima:</label>
						<select name="amountmin" ID="selecbp">
							<option value="">[Seleccionar]</option>
							<option value="SI">SI</option>
							<option value="NO">NO</option>
						</select>
					</p>
				</fieldset>
				<fieldset>
					<p>
						<label for="nameproduct">Nombre Producto:</label>
						<input type="text" name="nameproduct" id="nameproduct"/>
					</p>
					<br/>
					<br/>
					<p>
						<label for="codprovider">Código Proveedor:</label>
						<input type="text" name="codprovider" id="codprovider"/>
					</p>
					<br/>
					<br/>
					<p>
						<label for="state">Estado:</label>
							<select name="state" ID="selecbp">
								<option value="">[Seleccionar]</option>
							<option value="Activo">Activo</option>
							<option value="Inactivo">Inactivo</option>
						</select>
					</p>
				</fieldset>
	</form>
	<div>
		<label for="resultadobp" id="resultadobp">Resultados</label>
		
		
	</div>
	<div>
	{% if objects %}
		<table id="tablebprod" class="display" >
			<thead>
				<tr>
					{% for header in headers %}
					<th>{{header}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for object in objects %} 
					<tr>
						{% for k, val in object.items() %}
							{% if k=='producto' %}
							<td> <li><a href={{url_for("PaginaProducto", codigo_producto=val)}} >{{val}}</a></li></td>
			
							{% else%}
								<td>{{val}}</td>
							{% endif%}
						{% endfor %}
							</tr>
				{% endfor %}  
	
			</tbody>
		</table>
		<div id='div1' >
            <label for="codproduct">Encontrados un total de: </label>
            {% if number %}
                <ilabel  type="input" name="codproduct" disabled="True" id="codproduct">{{number}}</label >
            {% else %}
                <label type="input" name="codproduct" disabled="True" id="codproduct">0</label >
            {% endif%}
            <label for="codproduct"> productos</label>
        </div>
	{% endif %}
	</div>
	
{% endblock %}