{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProdbuscar.css') }}" {% endblock %}
{% block title %} Buscar usuario {% endblock %}
{% block content %}
    <br/>	
    <br/>
    <section class="content">
		{% for message in get_flashed_messages() %}
		<div class="flash"> {{ message }} </div>
		{% endfor %}
	</section>
    <form id="form2" method="post">	
        <div >
        <h1 id="bp">Buscar Usuario: </h1>
            <button type="submit" value="BuscarProd" id="bottonBp"  > Buscar </button>
            <button type="submit" value="limpiarProd" id="bottonlp"> Limpiar Filtro </button>
        </div>
        <fieldset>
            <p>
				<label for="codigo">Código usuario:</label>
				<input type="text" name="codigo" id="codigo"/>
			</p>
            <br/>
			<br/>
			<p>
				<label for="nombre">Nombre usuario:</label>
				<input type="text" name="nombre" id="nameprov"/>
			</p>
            <br/>
			<br/>
            <p>
				<label for="rol">Rol:</label>
				<select name="rol" id="rol">
                    <option value="">[Seleccionar]</option>
					<option value="Usuariofinal">Usuario Final</option>
					<option value="Administrador">Administrador</option>
                    <option value="Superadministrador">Superadministrador</option>
				</select>
			</p>
		</fieldset>
		<fieldset>
			<p>
				<label for="apellido">Apellido usuario:</label>
				<input type="text" name="apellido" id="apellido"/>
			</p>
            <br/>
			<br/>
			<p>
				<label for="email">Email:</label>
				<input type="text" name="email" id="email"/>
				</select>
			</p>
		</fieldset>

    </form>

    <div>
		<label for="resultadobp" id="resultadobp">Resultados</label>
		<input type="image" id="ic" src="static/images/descarga.png"/>
	</div>
	<div>
	{% if objects %}
		<table id="tablebprod" class="display" >
			<thead>
				<tr>
					{% for header in headers %}
					<th>{{header}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for object in objects %} 
					<tr>
						{% for k, val in object.items() %}
								<td>{{val}}</td>
						{% endfor %}
							</tr>
				{% endfor %}  
	
			</tbody>
		</table>
        <div id='div1' >
            <label for="codproduct">Encontrados un total de: </label>
            {% if number %}
                <ilabel  type="input" name="codproduct" disabled="True" id="codproduct">{{number}}</label >
            {% else %}
                <label type="input" name="codproduct" disabled="True" id="codproduct">0</label >
            {% endif%}
            <label for="codproduct"> usuarios</label>
        </div>
	{% endif %}
	</div>
{% endblock %}