{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProd.css') }}" {% endblock %}
{% block title %} Crear producto {% endblock %}
{% block content %}
	<h1>Creación Productos</h1>
	<br/>
	<form name="formProduct" onsubmit="validar_formulario();">
		<fieldset>
			<p>
				<label for="nameproduct">Nombre Producto*</label>
				<input type="text" name="nameproduct" id="nameproduct"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="codprovider">Código Proveedor*</label>
				<input type="text" name="codprovider" id="codprovider"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="brand">Marca*</label>
				<input type="text" name="brand" id="brand"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="state">Estado*</label>
				<input type="text" name="state" id="state"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="inventory">Inventario*</label>
				<input type="text" name="inventory" id="inventory"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="codproduct">Código Producto*</label>
				<input type="text" name="codproduct" id="codproduct"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="price">Precio*</label>
				<input type="text" name="price" id="price"/>
			</p>
		</fieldset>
		<fieldset>
			<p>
				<label for="amountmin">Cantidad Minima*</label>
				<input type="text" name="amountmin" id="amountmin"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="description">Descripción*</label>
				<textarea name="description" id="description"></textarea>
			</p>
		</fieldset>   
		<br/>
		<br/>
		<br/>
		<br/>
		<button type="submit" value="Crear">Crear</button>
    </form>
	{% endblock %}