{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProv.css') }}" {% endblock %}
{% block title %} Crear proveedor {% endblock %}
{% block content %}
    <br/>
	<br/>
	<section class="content">
	{% for message in get_flashed_messages() %}
	<div class="flash"> {{ message }} </div>
	{% endfor %}
	</section>
	<form id="form2">
	<h1>Creación Proveedores</h1>
	</form>
	<form name="formProveedor" method="post" action="{{ url_for('createprovider') }}">
		<fieldset>
			<p>
				<label for="company">Nombre Empresa*</label><br/>
				<input type="text" name="company" id="company"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="codcompany">Código Empresa*</label><br/>
				<input type="text" name="codcompany" id="codcompany"/>
			</p>
			<br/>
			<br/>
			<p>
            <label for="correo">Email*</label><br/>
            <input type="text" name="correo" id="correo"/>
			</p>
			<br/>
			<br/>
			<p>
            <label for="city">Ciudad*</label><br/>
            <input type="text" name="city" id="city"/>
			</p>
		</fieldset>
		<fieldset>
		
			<p>
				<label for="address">Dirección*</label><br/>
				<input type="text" name="address" id="address"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="celular">Celular*</label><br/>
				<input type="text" name="celular" id="celular"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="state">Estado*</label><br/>
				<select name="state" >
					<option value="">[Seleccionar]</option>
					<option value="Activo">Activo</option>
					<option value="Inactivo">Inactivo</option>
				</select>
			</p>
			<br/>
			<p>
				<label for="lineaproductos">Linea de Productos*</label><br/>
				<select name="lineaproductos" >
					<option value="">[Seleccionar]</option>
					<option value=""></option>
					<option value=""></option>
					<option value=""></option>
				</select>
			</p>
		</fieldset>   
		<br/>
		<br/>
		<br/>
		<br/>
		<button type="submit" value="Crear" action="createprovider">Crear</button>
    </form>
	{% endblock %}