{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloUser.css') }}" {% endblock %}
{% block title %} Crear usuario {% endblock %}
{% block content %}
	<br/>
	<br/>
	<section class="content">
		{% for message in get_flashed_messages() %}
		<div class="flash"> {{ message }} </div>
		{% endfor %}
		</section>
	<form id="form2">	
	<h1>Creación Usuarios</h1>
	</form>
	<form name="formUsuario" method="post" action="{{ url_for('createuser') }}" onsubmit="validar_formulario()">
		<fieldset>
			<p>
				<label for="Código">Código*</label><br/>
				<input type="text" name="Código" id="Código"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="Nombre">Nombre*</label><br/>
				<input type="text" name="Nombre" id="Nombre"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="Nombreusuario">Nombre Usuario*</label><br/>
				<input type="text" name="Nombreusuario" id="Nombreusuario"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="password">Contraseña*</label><br/>
				<input type="password" name="password" id="password"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="Rol">Rol*</label><br/>
				<select name="Rol" id='Rol'>
					<option value="">[Seleccionar]</option>
					<option value="Superadministrador">Supersdministrador</option>
					<option value="Administrador">Administrador</option>
					<option value="Usuariofinal">Usuariofinal</option>
				</select>
			</p>
		
		
		</fieldset>
		<fieldset>
			
			<p>
				<label for="Apellido">Apellido*</label><br/>
				<input type="text" name="Apellido" id="Apellido"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="Celular">Celular*</label><br/>
				<input type="text" name="Celular" id="Celular"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="Email">Email*</label><br/>
				<input type="text" name="Email" id="Email"/>
			</p>
			
			<br/>
			<br/>
			<p>
				<label for="password">Confirma la contraseña*</label><br/>
				<input type="pasword" name="password2" id="password2"/>
			
			</p>
		
		
		</fieldset>   
		<br/>
		<br/>
		<button type="submit" id="crearusuario" value="Crear" action="createuser" >Crear</button>
	</form>
	
	{% endblock %}