{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloUser.css') }}" {% endblock %}
{% block title %} Crear proveedor {% endblock %}
{% block content %}
	<h1>Creación Usuarios</h1>
	<br/>
	<form name="formUsuario" onsubmit="validar_formulario();">
		<fieldset>
			<p>
				<label for="username">Código*</label><br/>
				<input type="text" name="username" id="username"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="nombre">Nombre*</label><br/>
				<input type="text" name="nombre" id="nombre"/>
			</p>
			<br/>
			<br/>
			<p>
            <label for="correo">Email*</label><br/>
            <input type="text" name="correo" id="correo"/>
			</p>
			<br/>
			<br/>
			<p>
            <label for="password">Contraseña*</label><br/>
            <input type="password" name="password" id="password"/>
            <!--<img src="{{ url_for('static',filename= 'images/view.png') }}"
                 onmouseover="mostrarPassword();"
                 onmouseout="ocultarPassword();"/>-->
			</p>
		</fieldset>
		<fieldset>
			
			<p>
				<label for="apellido">Apellido*</label><br/>
				<input type="text" name="apellido" id="apellido"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="correo">Celular*</label><br/>
				<input type="text" name="correo" id="correo"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="password">Confirma la contraseña*</label><br/>
				<input type="password" name="password" id="password"/>
				<!--<img src="{{ url_for('static',filename= 'images/view.png') }}"
					 onmouseover="mostrarPassword();"
					 onmouseout="ocultarPassword();"/>-->
			</p>
			<br/>
			<br/>
			<p>
				<label for="rol">Rol*</label><br/>
				<select name="rol">
					<option value="Admin">[Seleccionar]</option>
					<option value="Super">SuperAdministrador</option>
					<option value="Admin">Administrador</option>
					<option value="Usuario">Usuario Final</option>
				</select>
			</p>
		
		</fieldset>   
		<br/>
		<br/>
		<button type="submit" value="Crear">Crear</button>
	</form>
	
	{% endblock %}