{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProv.css') }}" {% endblock %}
{% block title %} Crear proveedor {% endblock %}
{% block content %}
	<h1>Creación Proveedores</h1>
	<br/>
	<form name="formUsuario" onsubmit="validar_formulario();">
		<fieldset>
			<p>
				<label for="company">Nombre Empresa*</label><br/>
				<input type="text" name="company" id="company"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="codcompany">Código Empresa*</label><br/>
				<input type="text" name="codcompany" id="codcompany"/>
			</p>
			<br/>
			<br/>
			<p>
            <label for="correo">Email*</label><br/>
            <input type="text" name="correo" id="correo"/>
			</p>
			<br/>
			<br/>
			<p>
            <label for="city">Ciudad*</label><br/>
            <input type="text" name="city" id="city"/>
			</p>
		</fieldset>
		<fieldset>
		
			<p>
				<label for="address">Dirección*</label><br/>
				<input type="text" name="address" id="address"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="correo">Celular*</label><br/>
				<input type="text" name="correo" id="correo"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="state">Estado*</label><br/>
				<input type="text" name="state" id="state"/>
			</p>
			<br/>
			<br/>
			<p>
				<label for="rol">Linea de Productos*</label><br/>
				<select name="rol">
					<option value="">[Seleccionar]</option>
					<option value=""></option>
					<option value=""></option>
					<option value=""></option>
				</select>
			</p>
		</fieldset>   
		<br/>
		<br/>
		<br/>
		<br/>
		<button type="submit" value="Crear">Crear</button>
    </form>
	{% endblock %}