{% extends "base.html" %}
{% block css %} rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProdedit.css') }}" {% endblock %}
{% block title %} Editar proveedor {% endblock %}
{% block content %}
	<h1>Editar Proveedor</h1>
	<br/>
	<form name="formUsuario" onsubmit="validar_formulario();">
	
        <div>
            <p>
                <input type="text" name="company" id="company"/>
                <button type="consultar" value="consultarproducto" id="ff">Consultar</button>
            </p>
        <div>
        <br/>
        <br/>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PV3030</td>
                    <td>Proveedor 1</td>
                    <td>Calle 14 #23 -123</td>
                    <td>Proveedor1@hotmail.com</td>
                    <td>3408293744</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>PVGT30</td>
                    <td>Proveedor 2</td>
                    <td>Carrera 43 #43 -23</td>
                    <td>Proveedor2@gmail.com</td>
                    <td>3209099898</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>PVGYH0</td>
                    <td>Proveedor 3</td>
                    <td>AV. 12 #23 - 12</td>
                    <td>Proveedor3@gmail.com</td>
                    <td>3002893400</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td>PVML30</td>
                    <td>Proveedor 4</td>
                    <td>Calle 22 #12 -90</td>
                    <td>Proveedor4@gmail.com</td>
                    <td>3107893462</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td>PVM230</td>
                    <td>Proveedor 5</td>
                    <td>Carrera 87 # 90 -12</td>
                    <td>Proveedor5@gmail.com</td>
                    <td>3245678928</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>        
        <div>
        <button type="submit" value="Ant" id="botton1"><<</button>
		<button type="submit" value="Anterior">Anterior</button>
        <button type="submit" value="Siguiente">Siguiente</button>
        <button type="submit" value="Sig" id="botton1">>></button>
        </div>
    </form>
	
	{% endblock %}