{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProdedit.css') }}" {% endblock %}
{% block title %} Usuario proveedor {% endblock %}
{% block content %}
    <br/>	
    <br/>
    <form id="form2">
    <h1>Editar Usuario</h1>
    </form>
	<form name="formUsuario" method="post" action="{{ url_for('editareliminarusuario') }}">
	
        <div>
            <p> 
                <label for="busqueda">Buscar por:*</label>
				<select name="busqueda">
					<option value="0">[Seleccionar]</option>
					<option value="Codigo">Código</option>
					<option value="Nombre">Nombre</option>
					<option value="Apellido">Apellido</option>
                    <option value="Rol">Rol</option>
				</select>
                <label for="valor">Valor:*</label>
                <input type="text" name="valor" id="valor"/>
                <button type="submit" value="consultarproducto" id="ff" action="editareliminarusuario">Consultar</button>

            </p>
        <div>
        <br/>
        <br/>
        <table>
            <thead>
                <tr>
                    <th>Código Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>US3030</td>
                    <td>Juliana</td>
                    <td>Quintero Peña</td>
                    <td>juliana@gmail.com</td>
                    <td>Administrador</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>USGT30</td>
                    <td>Camila</td>
                    <td>Soto Palomino</td>
                    <td>camilas@gmail.com</td>
                    <td>Administrador</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>USGYH0</td>
                    <td>Pedro Andres</td>
                    <td>Garcia Brito</td>
                    <td>pedro@gmail.com</td>
                    <td>Superadministrador</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td>USML30</td>
                    <td>Kevin Dario</td>
                    <td>Pacheco</td>
                    <td>kevinp@hotmail.com</td>
                    <td>Usuario Final</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td>USM230</td>
                    <td>Juan Camilo</td>
                    <td>Solano Acosta</td>
                    <td>Solano@gmail.com</td>
                    <td>Usuario Final</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>        
        <div>
        <button type="submit" value="Ant" id="botton1"><<</button>
		<button type="submit" value="Anterior">Anterior</button>
        <button type="submit" value="Siguiente">Siguiente</button>
        <button type="submit" value="Sig" id="botton1">>></button>
        </div>
    </form>
	{% endblock %}