{% extends "base.html" %}
{% block css %} rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProdedit.css') }}" {% endblock %}
{% block title %} Editar producto {% endblock %}
{% block content %}
	<h1>Editar Producto</h1>
	<br/>
	<form name="formUsuario" onsubmit="validar_formulario();">
	
        <div>
            <p>
                <input type="text" name="company" id="company"/>
                <button type="consultar" value="consultarproducto" id="ff">Consultar</button>
            </p>
        <div>
        <br/>
        <br/>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Inventario</th>
                    <th>Proveedor</th>
                    <th>Precio</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AK3030</td>
                    <td>Prod 1</td>
                    <td>400</td>
                    <td>Proveedor 1</td>
                    <td>$55.600</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>ARGT30</td>
                    <td>Prod 2</td>
                    <td>10</td>
                    <td>Proveedor 2</td>
                    <td>$45.600</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>ARGYH0</td>
                    <td>Prod 3</td>
                    <td>70</td>
                    <td>Proveedor 1</td>
                    <td>$75.600</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td>AKML30</td>
                    <td>Prod 4</td>
                    <td>30</td>
                    <td>Proveedor 1</td>
                    <td>$155.600</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td>VHM230</td>
                    <td>Prod 5</td>
                    <td>320</td>
                    <td>Proveedor 4</td>
                    <td>$105.600</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>        
        <div>
        <button type="submit" value="Ant" id="botton1"><<</button>
		<button type="submit" value="Anterior">Anterior</button>
        <button type="submit" value="Siguiente">Siguiente</button>
        <button type="submit" value="Sig" id="botton1">>></button>
        </div>
    </form>
	
	{% endblock %}