<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='js/SESION6.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProdedit.css') }}" />
    <title>Inventario</title>
</head>
<body>
	<div id="header">
		<div id="icono">
			<img src= "{{ url_for('static', filename='images/icono.png') }}" width= "80px"/>
		</div>
		<div>
			<ul id ="menu">
				<li><a class="active" href="">Proveedor</a>
					<ul>
					  <li><a href="createproduct">Crear Productos</a></li>
					  <li><a href="editareliminarproducto">Editar/Eliminar Productos</a></li>
                      <li> <a href="buscarProducto">Buscar Producto</a> </li>
					</ul>
				</li>
				<li><a class="active" href="">Proveedores</a>
					<ul>
					  <li><a href="createprovider">Crear Proveedores</a></li>
					  <li><a href="editareliminarproveedor">Editar/Eliminar Proveedores</a></li>
                      <li> <a href="buscarProvider">Buscar Proveedores</a> </li>
					</ul>  
				</li>
				<li><a class="active" href="">Usuarios</a>
					<ul>
					  <li><a href="createuser">Crear Usuario</a></li>
					  <li><a href="">Editar/Eliminar Usuario</a></li>
                      <li> <a href="buscarusuario">Buscar Usuarios</a> </li>
					</ul>
				</li>
				<li style="float:right;"><a class="active" href="">Contacto</a>
					<ul>
					  <li><a href="">Cambiar Contraseña</a></li>
					  <li><a href="">Salir</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<br/>
	<br/>
	<p></p>
	<br/>
	<h1>Editar Proveedor</h1>
	<br/>
	<form name="formUsuario" onsubmit="validar_formulario();">
	
        <div>
            <p>
                <input type="text" name="company" id="company"/>
                <button type="consultar" value="consultarproducto" id="ff">Consultar</button>
            </p>
        <div>
        <br/>
        <br/>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PV3030</td>
                    <td>Proveedor 1</td>
                    <td>Calle 14 #23 -123</td>
                    <td>Proveedor1@hotmail.com</td>
                    <td>3408293744</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>PVGT30</td>
                    <td>Proveedor 2</td>
                    <td>Carrera 43 #43 -23</td>
                    <td>Proveedor2@gmail.com</td>
                    <td>3209099898</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>PVGYH0</td>
                    <td>Proveedor 3</td>
                    <td>AV. 12 #23 - 12</td>
                    <td>Proveedor3@gmail.com</td>
                    <td>3002893400</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td>PVML30</td>
                    <td>Proveedor 4</td>
                    <td>Calle 22 #12 -90</td>
                    <td>Proveedor4@gmail.com</td>
                    <td>3107893462</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td>PVM230</td>
                    <td>Proveedor 5</td>
                    <td>Carrera 87 # 90 -12</td>
                    <td>Proveedor5@gmail.com</td>
                    <td>3245678928</td>
                    <td> 
                        <div>
                            <input type="image" id="ic" src="static/images/edit.png"/>
                            <input type="image" id="ic" src="static/images/delete.png"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>        
        <div>
        <button type="submit" value="Ant" id="botton1"><<</button>
		<button type="submit" value="Anterior">Anterior</button>
        <button type="submit" value="Siguiente">Siguiente</button>
        <button type="submit" value="Sig" id="botton1">>></button>
        </div>
    </form>
</body>
</html>