{% extends "base.html" %}
{% block css %} rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProdedit.css') }}" {% endblock %}
{% block title %} Editar producto {% endblock %}
{% block content %}
    <br/>	
	<br/>
    <form id="form2">
	<h1>Editar Producto</h1>
    </form>
	<form name="formUsuario" method="post" action="{{ url_for('editareliminarproducto') }}">
	
        <div>
            
                <label  for="busqueda">Buscar por:*</label>
				<select id="busquedaeliminar" name="busqueda">
					<option value="0">[Seleccionar]</option>
					<option value="Codigo">Código</option>
					<option value="Nombre">Nombre</option>
					<option value="Estado">Estado</option>
                    <option value="Marca">Marca</option>
                    <option value="CodigoProveedor">Código proveedor</option>
                    <option value="NombreProveedor">Nombre proveedor</option><select>
                <label for="valor">Valor:*</label>
                <input type="text" name="valor" id="valor"/>
                <button type="submit" value="consultarproducto" id="ff" action="editareliminarproducto">Consultar</button>
        
        <div>
        <br/>
        <br/>
    </form>
    <form id ="tablaguardar" name="formUsuario" method="post" action="{{ url_for('guardarproducto') }}">
        {% if objects %}
		<table id="tablebprod" class="display" >
			<thead>
				<tr>
					{% for header in headers %}
					<th>{{header}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
           
				{% for object in objects %} 
					<tr>
						{% for k, val in object.items() %}
                            {% if val %} 
								<td>{{val}}</td>
                            {% else%}
                                <td> <input   name={{k}} id="inputtable" type="input"  placeholder="Nuevo valor"/> </td>
                            {% endif %}
      
						{% endfor %}
            
							</tr>
				{% endfor %}  
	
			</tbody>
		</table>
        {% if edit=="SI" %}  
        <button id="guardar" type="submit" value="Crear" action="guardarproducto">Guardar</button>
        {% endif %}
	{% endif %}
    </form> 
    {% if objects %}
    {% if edit=="NO" %}
    <form class="form4">
        <div >
            <label for="codproduct">Eliminar un total de: </label>
            {% if number %}
                <ilabel  type="input" name="codproduct" disabled="True" id="codproduct">{{number}}</label >
            {% else %}
                <label type="input" name="codproduct" disabled="True" id="codproduct">0</label >
            {% endif%}
            <label for="codproduct"> items</label>
        </div>
    </form>
    {% endif %}
    {% if edit=="NO" %}
        <div id="aqui">
            <form class="form3" method="post" action="{{ url_for('editarproducto') }}">
            <input type="image" id="ic" src="static/images/edit.png"/>
            </form>
            <form class="form5"  method="post" action="{{ url_for('eliminarproducto') }}" >
            <input type="image" id="ic" src="static/images/delete.png"/>
            </form>
            </div>
            <div id="but">
            <button type="submit" value="Ant" id="botton1"><<</button>
            <button type="submit" value="Anterior">Anterior</button>
            <button type="submit" value="Siguiente">Siguiente</button>
            <button type="submit" value="Sig" id="botton1">>></button>
            </div>
       
       
        {% endif%}
     

	{% endif %}

	{% endblock %}