{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProdedit.css') }}" {% endblock %}
{% block title %} Usuario proveedor {% endblock %}
{% block content %}
    <br/>	
    <br/>
    <form id="form2">
    <h1>Editar Usuario</h1>
    </form>
	<form name="formUsuario" method="post" action="{{ url_for('editareliminarusuario') }}">
	
        <div>
            <p> 
                <label for="busqueda">Buscar por:*</label>
				<select name="busqueda">
					<option value="0">[Seleccionar]</option>
					<option value="Codigo">Código</option>
					<option value="Nombre">Nombre</option>
					<option value="Apellido">Apellido</option>
                    <option value="Rol">Rol</option>
				</select>
                <label for="valor">Valor:*</label>
                <input type="text" name="valor" id="valor"/>
                <button type="submit" value="consultarproducto" id="ff" action="editareliminarusuario">Consultar</button>

            </p>
            <div>
                <br/>
                <br/>
            </form>
            <form id ="tablaguardar" name="formUsuario" method="post" action="{{ url_for('guardarusuario') }}">
                {% if objects %}
                <table id="tablebprod" class="display" >
                    <thead>
                        <tr>
                            {% for header in headers %}
                            <th>{{header}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                   
                        {% for object in objects %} 
                            <tr>
                                {% for k, val in object.items() %}
                                {% if val[0] %} 
								<td>{{val[0]}}</td>
                            {% else%}
                                {% if val[1]==0%}
                                <td> <input   name={{k}} id="inputtable" type="input"  placeholder="Nuevo valor"/> </td>
                                {% else %}
                                <td>
                                <select name="Rol" id='Rol'>
                                    <option value="">[Seleccionar]</option>
                                    <option value="Superadministrador">Supersdministrador</option>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Usuariofinal">Usuariofinal</option>
                                </select></td>
                                {% endif %}
                            {% endif %}
              
                                {% endfor %}
                    
                                    </tr>
                        {% endfor %}  
            
                    </tbody>
                </table>
                {% if edit=="SI" %}  
                <button id="guardar" type="submit" value="Crear" action="guardarusuario">Guardar</button>
                {% endif %}
            {% endif %}
    </form>
    {% if objects %}
    {% if edit=="NO" %}
    <form class="form4">
        <div >
            <label for="codproduct">Eliminar un total de: </label>
            {% if number %}
                <ilabel  type="input" name="codproduct" disabled="True" id="codproduct">{{number}}</label >
            {% else %}
                <label type="input" name="codproduct" disabled="True" id="codproduct">0</label >
            {% endif%}
            <label for="codproduct"> usuarios</label>
        </div>
    </form>
    {% endif %}
    {% if edit=="NO" %}
        <div id="aqui">
            <form class="form3" method="post" action="{{ url_for('editarusuario') }}">
            <input type="image" id="ic" src="static/images/edit.png"/>
            </form>
            <form class="form5"  method="post" action="{{ url_for('eliminarusuario') }}" >
            <input type="image" id="ic" src="static/images/delete.png"/>
            </form>
            </div>
         
        
        {% endif%}
     

    {% endif %}

    {% endblock %}