{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProdedit.css') }}" {% endblock %}
{% block title %} Usuario proveedor {% endblock %}
{% block content %}
    <br/>	
    <br/>
    <form id="form2">
    <h1>Editar Usuario</h1>
    </form>
	<form name="formUsuario" method="post" action="{{ url_for('editareliminarusuario') }}">
	
        <div>
            <p> 
                <label for="busqueda">Buscar por:*</label>
				<select name="busqueda">
					<option value="0">[Seleccionar]</option>
					<option value="Codigo">Código</option>
					<option value="Nombre">Nombre</option>
					<option value="Apellido">Apellido</option>
                    <option value="Rol">Rol</option>
				</select>
                <label for="valor">Valor:*</label>
                <input type="text" name="valor" id="valor"/>
                <button type="submit" value="consultarproducto" id="ff" action="editareliminarusuario">Consultar</button>

            </p>
        <div>
        <br/>
        <br/>
        {% if objects %}
		<table id="tablebprod" class="display" >
			<thead>
				<tr>
					{% for header in headers %}
					<th>{{header}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for object in objects %} 
					<tr>
						{% for k, val in object.items() %}
								<td>{{val}}</td>
						{% endfor %}
                     
							</tr>
				{% endfor %}  
	
			</tbody>
		</table>
	{% endif %}  
</form>
<form id="form3" method="post" action="{{ url_for('eliminarusuario') }}">
    {% if objects %}
    <div >
        <label for="codproduct">Eliminar un total de: </label>
        {% if number %}
            <ilabel  type="input" name="codproduct" disabled="True" id="codproduct">{{number}}</label >
        {% else %}
            <label type="input" name="codproduct" disabled="True" id="codproduct">0</label >
        {% endif%}
        <label for="codproduct"> items</label>
    </div>
    <div id="aqui">
        <input type="image" id="ic" src="static/images/edit.png"/>
        <input type="image" action="eliminarusuario" id="ic" src="static/images/delete.png"/>
    </div>
    
        <div>
        <button type="submit" value="Ant" id="botton1"><<</button>
		<button type="submit" value="Anterior">Anterior</button>
        <button type="submit" value="Siguiente">Siguiente</button>
        <button type="submit" value="Sig" id="botton1">>></button>
        </div>
  
    {% endif %}
</form>
	{% endblock %}