{% extends "base.html" %}
{% block css %}rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProdbuscar.css') }}" {% endblock %}
{% block title %} Pagina producto {% endblock %}
{% block content %}
<br/>	
<br/>
<section class="content">
   {% for message in get_flashed_messages() %}
   <div class="flash"> {{ message }} </div>
   {% endfor %}
</section>
<form id="form2" method="post" >	
   <h1 id="bp">Página producto: </h1>
   </br>
   <fieldset>
         <p>
         <label for="producto">Nombre Producto:</label>
         <input type="text" name="brand" disabled="True" value={{producto[0]}} id="brand"/>

      </p>
         <br/>
      <br/>
      <p>
         <label for="codproduct">Código Proveedor:</label>
         <input type="text" name="codproduct" disabled="True" value={{producto[1]}} id="codproduct1"/>
      </p>
         <br/>
      <br/>
         <p>
         <label for="amountmin">Marca:</label>
         <input type="text" name="codproduct" disabled="True" value={{producto[2]}} id="codproduct2"/>
      </p>
      <br/>
      <br/>
         <p>
         <label for="amountmin">Codigo producto :</label>
         <input type="text" name="codproduct" disabled="True" value={{producto[5]}} id="codproduct4"/>
   </fieldset>
   <fieldset>
      <p>
         <label for="state1">Estado:</label>
         <input type="text" name="codproduct" disabled="True" value={{producto[3]}} id="codproduct3"/>
      </p>
      <br/>
      <br/>
         <p>
         <label for="amountmin">Inventario:</label>
         <input type="text" name="codproduct" disabled="True" value={{producto[4]}} id="codproduct4"/>
      </p>
      <br/>
      <br/>
         <p>
         <label for="amountmin">Precio :</label>
         <input type="text" name="codproduct" disabled="True" value={{producto[6]}} id="codproduct4"/>
      </p>
      <br/>
      <br/>
         <p>
         <label for="amountmin">Cantidad Minima :</label>
         <input type="text" name="codproduct" disabled="True" value={{producto[7]}} id="codproduct4"/>
      </p>
   </fieldset>
</form>
<div>
   <label for="resultadobp" id="resultadobp">Resultados</label>
</div>
<div>
{% if objects %}
   <table id="tablebprod" class="display" >
      <thead>
         <tr>
            {% for header in headers %}
            <th>{{header}}</th>
            {% endfor %}
         </tr>
      </thead>
      <tbody>
         {% for object in objects %} 
            <tr>
               {% for k, val in object.items() %}
                     <td>{{val}}</td>
               {% endfor %}
                  </tr>
         {% endfor %}  

      </tbody>
   </table>
{% endif %}
</div>
{% endblock %}