<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProd.css') }}" />
    <title>PROVEEDOR</title>
</head>
<body> 
    <div id="header">
		<div id="icono">
			<img src= "{{ url_for('static', filename='images/icono.png') }}" width= "80px"/>
		</div>


<h1>PROVEEDOR</h1>


<table class="default">

<tr>
    <th><H3>PROVEEDOR</H3></th>  
       <td>LLANTAS ZIN</td> 
</tr>

<tr>
    <th>Código Proveedor:</th>  
       <td>JSMSA2</td> 
    <th></th>
    <th></th>
    <th>Celular:</th>
        <td>3214563865</td>
</tr>

<tr>
    <th>Dirección:</th>  
        <td>CRA 45 92 - 123</td>
    <th></th>
    <th></th>
    <th>Ciudad:</th>
        <td>Barranquilla</td>  
</tr>

<tr>
    <th>E-mail:</th>  
        <td>llantasyrines@gmail.com</td>
    <th></th>
    <th></th>
    <th>Estado:</th>
        <td>Activo</td>  
</tr>
<br>
<tr>
    <th><h2>Productos Asociados</h2></th>  
    <th></th>
    <th></th>
    <th></th><th>
</tr>

<br>
<tr>
    <th>Código Producto</th>  
    <th>Nombre Producto</th>
    <th>Marca</th>
    <th>Estado</th>
    <th>Inventario</th>
    <th>Cantidad mínima</th>
        
</tr>
<tr>
    <td>DYHEIR3</td>  
    <td>LLANTAS RIN 22</td>
    <td>Marca 3</td>
    <td>ACTIVO</td>
    <td>70</td>
    <td>30</td>
</tr>
<tr>
    <td>THEKW2</td>  
    <td>LLANTAS RIN 16</td>
    <td>Marca 3</td>
    <td>ACTIVO</td>
    <td>10</td>
    <td>20</td>
</tr>
<tr>
    <td>TGDHJ2</td>  
    <td>LLANTAS RIN 12</td>
    <td>Marca 3</td>
    <td>ACTIVO</td>
    <td>0</td>
    <td>10</td>
</tr>
      


</body>
</html>
  
    