<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloProd.css') }}" />
    <title>PRODUCTO</title>
</head>
<body> 
    <div id="header">
		<div id="icono">
			<img src= "{{ url_for('static', filename='images/icono.png') }}" width= "80px"/>
		</div>


<h1>PRODUCTO</h1>


<table class="default">

<tr>
    <th><H3>PRODUCTO</H3></th>  
       <td>LLANTAS RIN 22</td> 
</tr>

<tr>
    <th>Código PrODUCTO:</th>  
       <td>RFDY218</td> 
    <th></th>
    <th></th>
    <th></th>
</tr>

<tr>
    <th>Precio:</th>  
        <td>$345.232</td>
    <th></th>
    <th></th>
    <th>Cantidad mínima:</th>
        <td>10</td>  
</tr>

<tr>
    <th>Estado:</th>  
        <td>Activo</td>
    <th></th>
    <th></th>
    <th>Inventario:</th>
        <td>70</td>  
</tr>
<br>
<tr>
    <th><h2>Proveedores Asociados</h2></th>  
    <th></th>
    <th></th>
    <th></th><th>
</tr>

<br>
<tr>
    <th>Código Proveedor</th>  
    <th>Nombre Proveedor</th>
    <th>Ciudad</th>
    <th>Estado</th>
    <th>Correo</th>
    <th>Celular</th>
        
</tr>
<tr>
    <td>ETGDSJ2</td>  
    <td>LLANTAS Y MAS</td>
    <td>Barranquilla</td>
    <td>ACTIVO</td>
    <td>llantasmas@gmail.com</td>
    <td>3210320962</td>
</tr>

<tr>
    <td>KSMNASJ2</td>  
    <td>LA LLANTERIA</td>
    <td>Cali</td>
    <td>ACTIVO</td>
    <td>lallanteria@lallanteria.com</td>
    <td>3112346547</td>
</tr>

<tr>
    <td>SIKD213</td>  
    <td>LLANTAS Y RINES</td>
    <td>Bucaramanga</td>
    <td>ACTIVO</td>
    <td>llantasyrines@hotmail.com</td>
    <td>3224568609</td>
</tr>
      


</body>
</html>
